<% var data={ title: "MAIN" , author: "" }; %>
  <%= _.template(require('../includes/head.html').default)(data) %>

    <div class="landingwrapper">
      <div class="landingwrapper__top">

        <%= _.template(require('../includes/header_landing.html').default)(data) %>

          <div class="landingcontent">
            <div class="container">
              <div class="langindtitle">
                Best Tools For Your <br>Crypto Research
              </div><!-- /.langindtitle -->

              <div class="landingbanner">
                <img src="img/landingbanner.png" alt="">
              </div><!-- /.landingbanner -->

            </div><!-- /.container -->
          </div><!-- /.landingcontent -->

      </div><!-- /.landingwrapper__top -->

      <div class="landingwrapper__main">
        <div class="container">


          <div class="landingcards">
            <div class="landingcards__item">
              <div class="landingcard">
                <div class="landingcard__row">
                  <div class="landingcard__coltext">
                    <div class="landingcard__content">
                      <div class="landingcard__title">Twitter KOL Tracker</div>
                      <div class="landingcard__text">The tool tracks followings of thousands of Twitter influencers, and
                        spots trending projects before the 99% other traders</div>
                      <div class="landingcard__small">If you are a crypto degen, this is a must have tool for your
                        trading.</div><!-- /.landingcard__small -->
                    </div>

                    <div class="landingcard__footer">
                      <div class="landingcard__footertext">Video on how it works</div>
                      <div class="landingcard__footericon">
                        <img src="img/landingcard__footericon.svg" alt="">
                      </div>
                    </div>
                  </div>
                  <div class="landingcard__colimage">
                    <div class="landingcard__img">
                      <img src="img/landingcard__img.png" alt="">
                      <!-- <iframe width="100%" height="442" src="https://www.youtube.com/embed/ScMzIvxBSi4?si=VY9Lo9fVRRKSNLkY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe> -->
                    </div><!-- /.landingcard__img -->
                  </div>
                </div><!-- /.landingcard__row -->
              </div><!-- /.landingcard -->
            </div><!-- /.landingcards__item -->
            <div class="landingcards__item">
              <div class="landingcard">
                <div class="landingcard__row">

                  <div class="landingcard__colimage">
                    <div class="landingcard__img">
                      <img src="img/landingcard__img2.png" alt="">
                      <!-- <iframe width="100%" height="442" src="https://www.youtube.com/embed/ScMzIvxBSi4?si=VY9Lo9fVRRKSNLkY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe> -->
                    </div><!-- /.landingcard__img -->
                  </div>
                  <div class="landingcard__coltext">
                    <div class="landingcard__content">
                      <div class="landingcard__title">Pro Alpha Channel</div>
                      <div class="landingcard__text landingcard__text_2">Our analysts screen alpha daily using our
                        tools, and a from many sources like Twitter, Telegram, Discord, paid subscription, and more
                      </div>
                      <div class="landingcard__small">We share half of the alpha for free, and the rest goes to our
                        Pro Alpha Channel.</div><!-- /.landingcard__small -->
                    </div>


                  </div>
                </div><!-- /.landingcard__row -->
              </div><!-- /.landingcard -->
            </div><!-- /.landingcards__item -->
            <div class="landingcards__item">
              <div class="landingcard">
                <div class="landingcard__row">
                  <div class="landingcard__coltext">
                    <div class="landingcard__content">
                      <div class="landingcard__title">Twitter Trending Tickers</div>
                      <div class="landingcard__text landingcard__text_3">This tools Scans Tweets of Multiple Crypto
                        researchers, and aggregates information based on tickers they mentiond. It will help you find
                        good research threads, and understand the tokens that are trending. 

                      </div>
                      <div class="landingcard__small"> It works good if you are not degening, but trying to find more
                        quality projects
                      </div><!-- /.landingcard__small -->
                    </div>

                    <div class="landingcard__footer">
                      <div class="landingcard__footertext">Video on how it works</div>
                      <div class="landingcard__footericon">
                        <img src="img/landingcard__footericon.svg" alt="">
                      </div>
                    </div>
                  </div>
                  <div class="landingcard__colimage">
                    <div class="landingcard__img">
                      <img src="img/landingcard__img.png" alt="">
                      <!-- <iframe width="100%" height="442" src="https://www.youtube.com/embed/ScMzIvxBSi4?si=VY9Lo9fVRRKSNLkY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe> -->
                    </div><!-- /.landingcard__img -->
                  </div>
                </div><!-- /.landingcard__row -->
              </div><!-- /.landingcard -->
            </div><!-- /.landingcards__item -->
          </div><!-- /.landingcards -->
        </div><!-- /.container -->

          <div class="landingslider landingsliderbg">
            <div class="landingslider__title">
              With our Tools you would spot <br> these projects yearly
            </div><!-- /.landingslider__title -->
            <div class="landingslider__container">
              <div class="landingslider__slider">
                <div class="landingslider__slide">
                  <div class="landingslide">
                    <div class="landingslide__content">
                      <div class="landingslide__badge">
                        <div class="landingslide__badgetitle">Pnut</div><!-- /.landingslide__badgetitle -->
                        <div class="landingslide__badgevalue">44x</div><!-- /.landingslide__badgevalue -->
                      </div><!-- /.landingslide__badge -->
                      <div class="landingslide__img">
                        <img src="img/landslide.png" alt="">
                      </div><!-- /.landingslide__img -->
                    </div><!-- /.landingslide__content -->
                  </div><!-- /.landingslide -->
                </div><!-- /.landingslider__slide -->
                <div class="landingslider__slide">
                  <div class="landingslide">
                    <div class="landingslide__content">
                      <div class="landingslide__badge">
                        <div class="landingslide__badgetitle">Pnut</div><!-- /.landingslide__badgetitle -->
                        <div class="landingslide__badgevalue">44x</div><!-- /.landingslide__badgevalue -->
                      </div><!-- /.landingslide__badge -->
                      <div class="landingslide__img">
                        <img src="img/landslide.png" alt="">
                      </div><!-- /.landingslide__img -->
                    </div><!-- /.landingslide__content -->
                  </div><!-- /.landingslide -->
                </div><!-- /.landingslider__slide -->
                <div class="landingslider__slide">
                  <div class="landingslide">
                    <div class="landingslide__content">
                      <div class="landingslide__badge">
                        <div class="landingslide__badgetitle">Pnut</div><!-- /.landingslide__badgetitle -->
                        <div class="landingslide__badgevalue">44x</div><!-- /.landingslide__badgevalue -->
                      </div><!-- /.landingslide__badge -->
                      <div class="landingslide__img">
                        <img src="img/landslide.png" alt="">
                      </div><!-- /.landingslide__img -->
                    </div><!-- /.landingslide__content -->
                  </div><!-- /.landingslide -->
                </div><!-- /.landingslider__slide -->
              </div><!-- /.landingslider__slider -->
            </div><!-- /.landingslider__container -->
            <div class="landingslider__link">
              <a href="#" target='_blank'>
                <img src="img/landingtg.svg" alt="">
                <span>You can find more wins in our Wins Telegram Channel</span>
              </a>
            </div><!-- /.landingslider__link -->
        </div><!-- /.landingslider -->
      </div><!-- /.landingwrapper__main -->

      <%= _.template(require('../includes/footer_landing.html').default)(data) %>
    </div><!-- /.landingwrapper -->

    <script>
      $('.landingslider__slider').slick({
        centerMode: true,
        centerPadding: '16px',
        variableWidth: true,
        arrows: false,
        dots: false,
        infinite: true
      })
    </script>