<% var data={ title: "MAIN" , author: "" }; %>
<%= _.template(require('../includes/head.html').default)(data) %>
<%= _.template(require('../includes/header_user_v2.html').default)(data) %>
<main>
  <div class="maincontent maincontent_v2 maincontent_v3">
    <div class="container"> 
      <div class="pageasidev3">
        <div class="pageasidev3__aside">
          <aside>
            <div class="asidev3">
              <div class="asidev3__header">
                <div class="asidev3__user">
                  <a href='#' class="asidev3user">
                    <div class="asidev3user__icon">
                      <div class="asidev3user_placeholder">AM</div><!-- /.asidev3user_plaveholder -->
                    </div><!-- /.asidev3user__icon -->
                    <div class="asidev3user__name">Andrew M.</div><!-- /.asidev3user__name -->
                  </a><!-- /.asidev3user -->
                </div><!-- /.asidev3__user -->
              </div><!-- /.asidev3__header -->
              <div class="asidev3__main">
                <div class="asidev3__menu">
                  <div class="asidev3menu">
                    <div class="asidev3menu__items">
                      <div class="asidev3menu__item">
                        <a href="#" class="asidev3menu__link">
                          <span class="asidev3menu__icon">
                            <img src="img/BarChart.svg" alt="">
                          </span><!-- /.asidev3menu__icon -->
                          <span class="asidev3menu__title">Statistics</span><!-- /.asidev3menu__title -->
                        </a><!-- /.asidev3menu__link -->
                      </div><!-- /.asidev3menu__item -->
                      <div class="asidev3menu__item">
                        <a href="#" class="asidev3menu__link active">
                          <span class="asidev3menu__icon">
                            <img src="img/UserAccount.svg" alt="">
                          </span><!-- /.asidev3menu__icon -->
                          <span class="asidev3menu__title">Referrals</span><!-- /.asidev3menu__title -->
                        </a><!-- /.asidev3menu__link -->
                      </div><!-- /.asidev3menu__item -->
                      <div class="asidev3menu__item">
                        <a href="#" class="asidev3menu__link">
                          <span class="asidev3menu__icon">
                            <img src="img/Transaction.svg" alt="">
                          </span><!-- /.asidev3menu__icon -->
                          <span class="asidev3menu__title">Payments</span><!-- /.asidev3menu__title -->
                        </a><!-- /.asidev3menu__link -->
                      </div><!-- /.asidev3menu__item -->
                    </div><!-- /.asidev3menu__items -->
                  </div><!-- /.asidev3menu -->
                </div><!-- /.asidev3__menu -->
              </div><!-- /.asidev3__main -->
              <div class="asidev3__footer">
                <div class="asidev3share">
                  <div class="asidev3share__wrapper">
                    <div class="asidev3share__header">
                      <div class="asidev3share__icon">
                        <img src="img/PaperPlane.svg" alt="">
                      </div><!-- /.asidev3share__icon -->
                      <div class="asidev3share__title">Share your referral link:</div><!-- /.asidev3share__title -->
                    </div><!-- /.asidev3share__header -->
                    <div class="asidev3share__form">
                      <div class="asidev3share__value asidev3share__value--oversize" data-copysrc='copy_id1'>https://leakme.com/?g.5tor8gs8</div><!-- /.asidev3share__value -->
                      <div class="asidev3share__button">
                        <button class='btn_blue' data-copyfrom='copy_id1'>
                          <span class='btnicon'>
                            <img src="img/Copy.svg" alt="">
                          </span>
                          <span class='btntext'>Copy</span>
                        </button>
                      </div><!-- /.asidev3share__button -->
                    </div><!-- /.asidev3share__form -->
                  </div><!-- /.asidev3share__wrapper -->
                </div><!-- /.asidev3share -->
              </div><!-- /.asidev3__footer -->
            </div><!-- /.asidev3 -->
          </aside>
        </div><!-- /.pageasidev3__aside -->
        <div class="pageasidev3__main">
          <div class="pagemainv3">
            <div class="pagemainv3__title">Referrals</div><!-- /.pagemainv3__title -->
            <div class="pagemainv3__content">
              <div class="tableblock tableblock_tab tableblock_refferals">
                <div class="tableblock__wrapper">
                  <div class="tableblock__table">
                    <div class="tableblock__scroll">
                      <div class="tableblock__header">
                        <div class="tableblock__row">

                          <div class="tableblock__col tableblock_name flex items-center items-center tableblock__col_default tableblock__col_rank tableblock__col_regrank">
                            <span class="tableblock__title">#</span>
                          </div>
                          <div class="tableblock__col tableblock__param tableblock__param_roi flex items-center tableblock__col_default tableblock__col_regdate">
                            <span class="tableblock__title">Registration Date</span>
                          </div>
                          <div class="tableblock__col tableblock__param tableblock__param_bullish flex items-center tableblock__col_default tableblock__col_username">
                            <span class="tableblock__title">Username</span>
                          </div>
                          <div class="tableblock__col tableblock__param tableblock__param_shiller flex items-center tableblock__col_default tableblock__col_substatus ">
                            <span class="tableblock__title">Subscription status</span>
                          </div>                        
                        </div>
                      </div>
                      <div class="tableblock__body">
                        <div class="tableblock__row">
                          <div class="tableblock__col tableblock_name flex items-center items-center tableblock__col_default tableblock__col_rank tableblock__col_regrank">
                            <span class="tableblock__title tableblock__btitle">1</span>
                          </div>
                          <div class="tableblock__col tableblock__param tableblock__param_roi flex items-center tableblock__col_default tableblock__col_regdate">
                            <span class="tableblock__regdate">20.20.2020</span>
                          </div>
                          <div class="tableblock__col tableblock__param tableblock__param_bullish flex items-center tableblock__col_default tableblock__col_username">
                            <span class="tableblock__title">
                              <a href='#' class="tableuser">
                                <div class="tableuser__image" style='background-image: url(img/card.png);'></div><!-- /.tableuser__image -->
                                <div class="tableuser__name">Abobus228</div><!-- /.tableuser__name -->
                              </a><!-- /.tableuser -->
                            </span>
                          </div>
                          <div class="tableblock__col tableblock__param tableblock__param_shiller flex items-center tableblock__col_default tableblock__col_substatus ">
                            <div class="tablesubstatus tablesubstatus_pro">
                              <div class="tablesubstatus__icon" style='background-image: url(img/pro.svg);'></div><!-- /.tablesubstatus__icon -->
                              <div class="tablesubstatus__name">Pro</div><!-- /.tablesubstatus__name -->
                            </div><!-- /.tablesubstatus -->
                          </div>                         
                        </div><!-- /.tableblock__row -->     
                        <div class="tableblock__row">
                          <div class="tableblock__col tableblock_name flex items-center items-center tableblock__col_default tableblock__col_rank tableblock__col_regrank">
                            <span class="tableblock__title tableblock__btitle">1</span>
                          </div>
                          <div class="tableblock__col tableblock__param tableblock__param_roi flex items-center tableblock__col_default tableblock__col_regdate">
                            <span class="tableblock__regdate">20.20.2020</span>
                          </div>
                          <div class="tableblock__col tableblock__param tableblock__param_bullish flex items-center tableblock__col_default tableblock__col_username">
                            <span class="tableblock__title">
                              <a href='#' class="tableuser">
                                <div class="tableuser__image" style='background-image: url(img/card.png);'></div><!-- /.tableuser__image -->
                                <div class="tableuser__name">Abobus228</div><!-- /.tableuser__name -->
                              </a><!-- /.tableuser -->
                            </span>
                          </div>
                          <div class="tableblock__col tableblock__param tableblock__param_shiller flex items-center tableblock__col_default tableblock__col_substatus tableblock__col_rside">
                            <div class="tablesubstatus ">
                              <div class="tablesubstatus__icon" style='background-image: url(img/free.svg);'></div><!-- /.tablesubstatus__icon -->
                              <div class="tablesubstatus__name">Free</div><!-- /.tablesubstatus__name -->
                            </div><!-- /.tablesubstatus -->
                          </div>                         
                        </div><!-- /.tableblock__row -->     
                        <div class="tableblock__row">
                          <div class="tableblock__col tableblock_name flex items-center items-center tableblock__col_default tableblock__col_rank tableblock__col_regrank">
                            <span class="tableblock__title tableblock__btitle">1</span>
                          </div>
                          <div class="tableblock__col tableblock__param tableblock__param_roi flex items-center tableblock__col_default tableblock__col_regdate">
                            <span class="tableblock__regdate">20.20.2020</span>
                          </div>
                          <div class="tableblock__col tableblock__param tableblock__param_bullish flex items-center tableblock__col_default tableblock__col_username">
                            <span class="tableblock__title">
                              <a href='#' class="tableuser">
                                <div class="tableuser__image" style='background-image: url(img/card.png);'></div><!-- /.tableuser__image -->
                                <div class="tableuser__name">Abobus228</div><!-- /.tableuser__name -->
                              </a><!-- /.tableuser -->
                            </span>
                          </div>
                          <div class="tableblock__col tableblock__param tableblock__param_shiller flex items-center tableblock__col_default tableblock__col_substatus tableblock__col_rside">
                            <div class="tablesubstatus tablesubstatus_pro">
                              <div class="tablesubstatus__icon" style='background-image: url(img/pro.svg);'></div><!-- /.tablesubstatus__icon -->
                              <div class="tablesubstatus__name">Pro</div><!-- /.tablesubstatus__name -->
                            </div><!-- /.tablesubstatus -->
                          </div>                         
                        </div><!-- /.tableblock__row -->     
                        <div class="tableblock__row">
                          <div class="tableblock__col tableblock_name flex items-center items-center tableblock__col_default tableblock__col_rank tableblock__col_regrank">
                            <span class="tableblock__title tableblock__btitle">1</span>
                          </div>
                          <div class="tableblock__col tableblock__param tableblock__param_roi flex items-center tableblock__col_default tableblock__col_regdate">
                            <span class="tableblock__regdate">20.20.2020</span>
                          </div>
                          <div class="tableblock__col tableblock__param tableblock__param_bullish flex items-center tableblock__col_default tableblock__col_username">
                            <span class="tableblock__title">
                              <a href='#' class="tableuser">
                                <div class="tableuser__image" style='background-image: url(img/card.png);'></div><!-- /.tableuser__image -->
                                <div class="tableuser__name">Abobus228</div><!-- /.tableuser__name -->
                              </a><!-- /.tableuser -->
                            </span>
                          </div>
                          <div class="tableblock__col tableblock__param tableblock__param_shiller flex items-center tableblock__col_default tableblock__col_substatus tableblock__col_rside">
                            <div class="tablesubstatus tablesubstatus_pro">
                              <div class="tablesubstatus__icon" style='background-image: url(img/pro.svg);'></div><!-- /.tablesubstatus__icon -->
                              <div class="tablesubstatus__name">Pro</div><!-- /.tablesubstatus__name -->
                            </div><!-- /.tablesubstatus -->
                          </div>                         
                        </div><!-- /.tableblock__row -->     
                        <div class="tableblock__row">
                          <div class="tableblock__col tableblock_name flex items-center items-center tableblock__col_default tableblock__col_rank tableblock__col_regrank">
                            <span class="tableblock__title tableblock__btitle">1</span>
                          </div>
                          <div class="tableblock__col tableblock__param tableblock__param_roi flex items-center tableblock__col_default tableblock__col_regdate">
                            <span class="tableblock__regdate">20.20.2020</span>
                          </div>
                          <div class="tableblock__col tableblock__param tableblock__param_bullish flex items-center tableblock__col_default tableblock__col_username">
                            <span class="tableblock__title">
                              <a href='#' class="tableuser">
                                <div class="tableuser__image" style='background-image: url(img/card.png);'></div><!-- /.tableuser__image -->
                                <div class="tableuser__name">Abobus228</div><!-- /.tableuser__name -->
                              </a><!-- /.tableuser -->
                            </span>
                          </div>
                          <div class="tableblock__col tableblock__param tableblock__param_shiller flex items-center tableblock__col_default tableblock__col_substatus tableblock__col_rside">
                            <div class="tablesubstatus tablesubstatus_pro">
                              <div class="tablesubstatus__icon" style='background-image: url(img/pro.svg);'></div><!-- /.tablesubstatus__icon -->
                              <div class="tablesubstatus__name">Pro</div><!-- /.tablesubstatus__name -->
                            </div><!-- /.tablesubstatus -->
                          </div>                         
                        </div><!-- /.tableblock__row -->     
                        <div class="tableblock__row">
                          <div class="tableblock__col tableblock_name flex items-center items-center tableblock__col_default tableblock__col_rank tableblock__col_regrank">
                            <span class="tableblock__title tableblock__btitle">1</span>
                          </div>
                          <div class="tableblock__col tableblock__param tableblock__param_roi flex items-center tableblock__col_default tableblock__col_regdate">
                            <span class="tableblock__regdate">20.20.2020</span>
                          </div>
                          <div class="tableblock__col tableblock__param tableblock__param_bullish flex items-center tableblock__col_default tableblock__col_username">
                            <span class="tableblock__title">
                              <a href='#' class="tableuser">
                                <div class="tableuser__image" style='background-image: url(img/card.png);'></div><!-- /.tableuser__image -->
                                <div class="tableuser__name">Abobus228</div><!-- /.tableuser__name -->
                              </a><!-- /.tableuser -->
                            </span>
                          </div>
                          <div class="tableblock__col tableblock__param tableblock__param_shiller flex items-center tableblock__col_default tableblock__col_substatus tableblock__col_rside">
                            <div class="tablesubstatus tablesubstatus_pro">
                              <div class="tablesubstatus__icon" style='background-image: url(img/pro.svg);'></div><!-- /.tablesubstatus__icon -->
                              <div class="tablesubstatus__name">Pro</div><!-- /.tablesubstatus__name -->
                            </div><!-- /.tablesubstatus -->
                          </div>                         
                        </div><!-- /.tableblock__row -->     
                        <div class="tableblock__row">
                          <div class="tableblock__col tableblock_name flex items-center items-center tableblock__col_default tableblock__col_rank tableblock__col_regrank">
                            <span class="tableblock__title tableblock__btitle">1</span>
                          </div>
                          <div class="tableblock__col tableblock__param tableblock__param_roi flex items-center tableblock__col_default tableblock__col_regdate">
                            <span class="tableblock__regdate">20.20.2020</span>
                          </div>
                          <div class="tableblock__col tableblock__param tableblock__param_bullish flex items-center tableblock__col_default tableblock__col_username">
                            <span class="tableblock__title">
                              <a href='#' class="tableuser">
                                <div class="tableuser__image" style='background-image: url(img/card.png);'></div><!-- /.tableuser__image -->
                                <div class="tableuser__name">Abobus228</div><!-- /.tableuser__name -->
                              </a><!-- /.tableuser -->
                            </span>
                          </div>
                          <div class="tableblock__col tableblock__param tableblock__param_shiller flex items-center tableblock__col_default tableblock__col_substatus tableblock__col_rside">
                            <div class="tablesubstatus tablesubstatus_pro">
                              <div class="tablesubstatus__icon" style='background-image: url(img/pro.svg);'></div><!-- /.tablesubstatus__icon -->
                              <div class="tablesubstatus__name">Pro</div><!-- /.tablesubstatus__name -->
                            </div><!-- /.tablesubstatus -->
                          </div>                         
                        </div><!-- /.tableblock__row -->     
                        <div class="tableblock__row">
                          <div class="tableblock__col tableblock_name flex items-center items-center tableblock__col_default tableblock__col_rank tableblock__col_regrank">
                            <span class="tableblock__title tableblock__btitle">1</span>
                          </div>
                          <div class="tableblock__col tableblock__param tableblock__param_roi flex items-center tableblock__col_default tableblock__col_regdate">
                            <span class="tableblock__regdate">20.20.2020</span>
                          </div>
                          <div class="tableblock__col tableblock__param tableblock__param_bullish flex items-center tableblock__col_default tableblock__col_username">
                            <span class="tableblock__title">
                              <a href='#' class="tableuser">
                                <div class="tableuser__image" style='background-image: url(img/card.png);'></div><!-- /.tableuser__image -->
                                <div class="tableuser__name">Abobus228</div><!-- /.tableuser__name -->
                              </a><!-- /.tableuser -->
                            </span>
                          </div>
                          <div class="tableblock__col tableblock__param tableblock__param_shiller flex items-center tableblock__col_default tableblock__col_substatus tableblock__col_rside">
                            <div class="tablesubstatus tablesubstatus_pro">
                              <div class="tablesubstatus__icon" style='background-image: url(img/pro.svg);'></div><!-- /.tablesubstatus__icon -->
                              <div class="tablesubstatus__name">Pro</div><!-- /.tablesubstatus__name -->
                            </div><!-- /.tablesubstatus -->
                          </div>                         
                        </div><!-- /.tableblock__row -->     
                        <div class="tableblock__row">
                          <div class="tableblock__col tableblock_name flex items-center items-center tableblock__col_default tableblock__col_rank tableblock__col_regrank">
                            <span class="tableblock__title tableblock__btitle">10</span>
                          </div>
                          <div class="tableblock__col tableblock__param tableblock__param_roi flex items-center tableblock__col_default tableblock__col_regdate">
                            <span class="tableblock__regdate">20.20.2020</span>
                          </div>
                          <div class="tableblock__col tableblock__param tableblock__param_bullish flex items-center tableblock__col_default tableblock__col_username">
                            <span class="tableblock__title">
                              <a href='#' class="tableuser">
                                <div class="tableuser__image" style='background-image: url(img/card.png);'></div><!-- /.tableuser__image -->
                                <div class="tableuser__name">Abobus228</div><!-- /.tableuser__name -->
                              </a><!-- /.tableuser -->
                            </span>
                          </div>
                          <div class="tableblock__col tableblock__param tableblock__param_shiller flex items-center tableblock__col_default tableblock__col_substatus tableblock__col_rside">
                            <div class="tablesubstatus tablesubstatus_pro">
                              <div class="tablesubstatus__icon" style='background-image: url(img/pro.svg);'></div><!-- /.tablesubstatus__icon -->
                              <div class="tablesubstatus__name">Pro</div><!-- /.tablesubstatus__name -->
                            </div><!-- /.tablesubstatus -->
                          </div>                         
                        </div><!-- /.tableblock__row -->     
                      </div>
                    </div>

                    <div class="tableblock__footer">
                        <div class="tablenav flex items-center content-between">
                          <div class="tablenav__left" >
                            <div class="tablenav__pagination">
                              <div class="paginationblock">
                                <div class="pagination">

                                  <ul>
                                    <li class="active"><a href="">1</a></li>
                                    <li><a href="">2</a></li>
                                    <li><a href="">3</a></li>
                                    <li><a href="">4</a></li>
                                    <li><span>...</span></li>
                                    <li><a href="">162</a></li>
                                  </ul>

                                </div>
                              </div>
                            </div>
                          </div>
                         
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>
            </div><!-- /.pagemainv3__ -->
          </div><!-- /.pagemainv3 -->
        </div><!-- /.pageasidev3__main -->
      </div><!-- /.pageasidev3 -->
    </div>
  </div>
</main>


 <%= _.template(require('../includes/footer_v3.html').default)(data) %>
