<% var data={ title: "MAIN" , author: "" }; %>
<%= _.template(require('../includes/head.html').default)(data) %>
<%= _.template(require('../includes/header_user_v2.html').default)(data) %>
<main>
  <div class="maincontent maincontent_v2 maincontent_v3">
    <div class="container"> 
      <div class="pageasidev3">
        <div class="pageasidev3__aside">
          <aside>
            <div class="asidev3">
              <div class="asidev3__header">
                <div class="asidev3__user">
                  <a href='#' class="asidev3user">
                    <div class="asidev3user__icon">
                      <div class="asidev3user_placeholder">AM</div><!-- /.asidev3user_plaveholder -->
                    </div><!-- /.asidev3user__icon -->
                    <div class="asidev3user__name">Andrew M.</div><!-- /.asidev3user__name -->
                  </a><!-- /.asidev3user -->
                </div><!-- /.asidev3__user -->
              </div><!-- /.asidev3__header -->
              <div class="asidev3__main">
                <div class="asidev3__menu">
                  <div class="asidev3menu">
                    <div class="asidev3menu__items">
                      <div class="asidev3menu__item">
                        <a href="#" class="asidev3menu__link active">
                          <span class="asidev3menu__icon">
                            <img src="img/BarChart.svg" alt="">
                          </span><!-- /.asidev3menu__icon -->
                          <span class="asidev3menu__title">Statistics</span><!-- /.asidev3menu__title -->
                        </a><!-- /.asidev3menu__link -->
                      </div><!-- /.asidev3menu__item -->
                      <div class="asidev3menu__item">
                        <a href="#" class="asidev3menu__link ">
                          <span class="asidev3menu__icon">
                            <img src="img/UserAccount.svg" alt="">
                          </span><!-- /.asidev3menu__icon -->
                          <span class="asidev3menu__title">Referrals</span><!-- /.asidev3menu__title -->
                        </a><!-- /.asidev3menu__link -->
                      </div><!-- /.asidev3menu__item -->
                      <div class="asidev3menu__item">
                        <a href="#" class="asidev3menu__link ">
                          <span class="asidev3menu__icon">
                            <img src="img/Transaction.svg" alt="">
                          </span><!-- /.asidev3menu__icon -->
                          <span class="asidev3menu__title">Payments</span><!-- /.asidev3menu__title -->
                        </a><!-- /.asidev3menu__link -->
                      </div><!-- /.asidev3menu__item -->
                    </div><!-- /.asidev3menu__items -->
                  </div><!-- /.asidev3menu -->
                </div><!-- /.asidev3__menu -->
              </div><!-- /.asidev3__main -->
              <div class="asidev3__footer">
                <div class="asidev3share">
                  <div class="asidev3share__wrapper">
                    <div class="asidev3share__header">
                      <div class="asidev3share__icon">
                        <img src="img/PaperPlane.svg" alt="">
                      </div><!-- /.asidev3share__icon -->
                      <div class="asidev3share__title">Share your referral link:</div><!-- /.asidev3share__title -->
                    </div><!-- /.asidev3share__header -->
                    <div class="asidev3share__form">
                      <div class="asidev3share__value asidev3share__value--oversize" data-copysrc='copy_id1'>https://leakme.com/?g.5tor8gs8</div><!-- /.asidev3share__value -->
                      <div class="asidev3share__button">
                        <button class='btn_blue' data-copyfrom='copy_id1'>
                          <span class='btnicon'>
                            <img src="img/Copy.svg" alt="">
                          </span>
                          <span class='btntext'>Copy</span>
                        </button>
                      </div><!-- /.asidev3share__button -->
                    </div><!-- /.asidev3share__form -->
                  </div><!-- /.asidev3share__wrapper -->
                </div><!-- /.asidev3share -->
              </div><!-- /.asidev3__footer -->
            </div><!-- /.asidev3 -->
          </aside>
        </div><!-- /.pageasidev3__aside -->
        <div class="pageasidev3__main">
          <div class="pagemainv3">
            <div class="container">
              <a href="#popup_smartwallets_sub" data-toggle='modal' class="btn btn_main">popup_smartwallets_sub </a>
              <a href="#popup_smartwallets_plan" data-toggle='modal' class="btn btn_main">Select your subscription plan </a>
    
            </div><!-- /.container -->
    
            <br><br>
    
            <div class="modal modal_lg fade" tabindex="-1" role="dialog" id='popup_smartwallets_sub'>
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-title">Why Upgrade to Our <img src="img/coin_33054812.svg" alt=""> Pro Subscription?</div>
                  <div class="modal_subtitle">Unlock a Wealth of Exclusive Benefits</div><!-- /.modal_subtitle -->
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">
                      <img src="img/closebutton.svg" alt="">
                    </span>
                  </button>
                  <div class="modal-body">
                    <div class="benefits">
                      <div class="benefits__items">
                        <div class="benefits__item">
                          <div class="benefits__image">
                            <img src="img/benefits1.svg" alt="">
                          </div><!-- /.benefits__image -->
                          <div class="benefits__content">
                            <div class="benefits__title">Curated Twitter Influencer Feed</div><!-- /.benefits__title -->
                            <div class="benefits__text">Gain access to a handpicked list of top Twitter influencers who consistently share valuable insights and strategies in the crypto world. Our focus is on meaningful alpha rather than memes, ensuring you get the most relevant information to make informed decisions.</div><!-- /.benefits__text -->
                          </div><!-- /.benefits__content -->
                        </div><!-- /.benefits__item -->
                        <div class="benefits__item">
                          <div class="benefits__image">
                            <img src="img/benefits2.svg" alt="">
                          </div><!-- /.benefits__image -->
                          <div class="benefits__content">
                            <div class="benefits__title">Smart Money Feed</div><!-- /.benefits__title -->
                            <div class="benefits__text">Stay ahead of the curve by tracking smart wallets (currently on Ethereum). Discover which tokens these savvy investors are buying, giving you an edge in finding promising tokens before they gain mainstream attention.</div><!-- /.benefits__text -->
                          </div><!-- /.benefits__content -->
                        </div><!-- /.benefits__item -->
                        <div class="benefits__item">
                          <div class="benefits__image">
                            <img src="img/benefits3.svg" alt="">
                          </div><!-- /.benefits__image -->
                          <div class="benefits__content">
                            <div class="benefits__title">Private Alpha Feed</div><!-- /.benefits__title -->
                            <div class="benefits__text">Save time on research with our exclusive alpha feed. We provide daily updates on interesting projects and ideas with high potential. While some insights are shared for free on our Twitter and Telegram, subscribing to our Pro Subscription will give you access to even more in-depth opportunities and exclusive content.</div><!-- /.benefits__text -->
                          </div><!-- /.benefits__content -->
                        </div><!-- /.benefits__item -->
                        <div class="benefits__item benefits__item_disabled">
                          <div class="benefits__image">
                            <img src="img/benefits4.svg" alt="">
                          </div><!-- /.benefits__image -->
                          <div class="benefits__content">
                            <div class="benefits__title">Community Closed Chat (Coming Soon)</div><!-- /.benefits__title -->
                            <div class="benefits__text">Join a network of like-minded individuals dedicated to uncovering the next 100x gem. Collaborate, share insights, and grow together in our exclusive community chat.</div><!-- /.benefits__text -->
                          </div><!-- /.benefits__content -->
                        </div><!-- /.benefits__item -->
                      </div><!-- /.benefits__items -->
                    </div><!-- /.benefits -->
                  </div>
                  <div class="modal_footer">
                    <div class="modal_footer_button"><a href="" class='btn btn_main btn_w347'>Register & Pay with Crypto</a></div><!-- /.modal_footer_button -->
                  </div><!-- /.modal_footer -->
                </div>
              </div>
            </div>


            <div class="modal modal_md modal_plan fade" tabindex="-1" role="dialog" id='popup_smartwallets_plan'>
              <div class="modal-dialog" role="document">
                <form action="">
                  <div class="modal-content">
                    <div class="modal-title">Select your subscription plan</div>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">
                        <img src="img/closebutton.svg" alt="">
                      </span>
                    </button>
                    <div class="modal-body">
                      <div class="formslider">
                        <div class="contentform__item_col contentform_months">
                          <div class="contentform__label">Period</div>
                          <div class="contentform__input">
                            <div class="form-control__wrapper months-slider" data-range-slider-type="month" data-range-slider-ready="yes">
                              <input  class="form-control months-slider__control input input_dark input_months" data-max="12" data-min="1" data-months-format="" name="months1" placeholder="4 months" type="text" inputmode="integer" value="1">
                              <div class="months-slider__ui"></div>
                              <div class="inputplaceholder__placeholder ">
                                <img src="img/months_slider.svg" alt="">
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="formslider__footer">
                          <div class="formslider__price">
                            <div class="formslider__pricevalue">$49.00</div><!-- /.formslider__pricevalue -->
                            <div class="formslider__text">per month</div><!-- /.formslider__text -->
                          </div><!-- /.formslider__price -->
                          <div class="formslider__button"><button type='submit' class="btn btn_main btn_full">Checkout</button><!-- /.btn btn_main btn_full --></div><!-- /.formslider__button -->
                        </div><!-- /.formslider__footer -->
                      </div><!-- /.formslider -->
                    </div>
                    <!-- /.formblock -->
                  </div>
              </div>
              </form>
            </div>


          </div>
        </div>
      </div><!-- /.pageasidev3 -->
    </div>
  </div>
</main>


 <%= _.template(require('../includes/footer_v3.html').default)(data) %>
