<% var data={ title: "MAIN" , author: "" }; %>
<%= _.template(require('../includes/head.html').default)(data) %>
<%= _.template(require('../includes/header_user_v2.html').default)(data) %>
<main>
  <div class="maincontent maincontent_v2 maincontent_v3">
    <div class="container"> 
      <div class="pageasidev3">
        <div class="pageasidev3__aside">
          <aside>
            <div class="asidev3">
              <div class="asidev3__header">
                <div class="asidev3__user">
                  <a href='#' class="asidev3user">
                    <div class="asidev3user__icon">
                      <div class="asidev3user_placeholder">AM</div><!-- /.asidev3user_plaveholder -->
                    </div><!-- /.asidev3user__icon -->
                    <div class="asidev3user__name">Andrew M.</div><!-- /.asidev3user__name -->
                  </a><!-- /.asidev3user -->
                </div><!-- /.asidev3__user -->
              </div><!-- /.asidev3__header -->
              <div class="asidev3__main">
                <div class="asidev3__menu">
                  <div class="asidev3menu">
                    <div class="asidev3menu__items">
                      <div class="asidev3menu__item">
                        <a href="#" class="asidev3menu__link active">
                          <span class="asidev3menu__icon">
                            <img src="img/BarChart.svg" alt="">
                          </span><!-- /.asidev3menu__icon -->
                          <span class="asidev3menu__title">Statistics</span><!-- /.asidev3menu__title -->
                        </a><!-- /.asidev3menu__link -->
                      </div><!-- /.asidev3menu__item -->
                      <div class="asidev3menu__item">
                        <a href="#" class="asidev3menu__link ">
                          <span class="asidev3menu__icon">
                            <img src="img/UserAccount.svg" alt="">
                          </span><!-- /.asidev3menu__icon -->
                          <span class="asidev3menu__title">Referrals</span><!-- /.asidev3menu__title -->
                        </a><!-- /.asidev3menu__link -->
                      </div><!-- /.asidev3menu__item -->
                      <div class="asidev3menu__item">
                        <a href="#" class="asidev3menu__link ">
                          <span class="asidev3menu__icon">
                            <img src="img/Transaction.svg" alt="">
                          </span><!-- /.asidev3menu__icon -->
                          <span class="asidev3menu__title">Payments</span><!-- /.asidev3menu__title -->
                        </a><!-- /.asidev3menu__link -->
                      </div><!-- /.asidev3menu__item -->
                    </div><!-- /.asidev3menu__items -->
                  </div><!-- /.asidev3menu -->
                </div><!-- /.asidev3__menu -->
              </div><!-- /.asidev3__main -->
              <div class="asidev3__footer">
                <div class="asidev3share">
                  <div class="asidev3share__wrapper">
                    <div class="asidev3share__header">
                      <div class="asidev3share__icon">
                        <img src="img/PaperPlane.svg" alt="">
                      </div><!-- /.asidev3share__icon -->
                      <div class="asidev3share__title">Share your referral link:</div><!-- /.asidev3share__title -->
                    </div><!-- /.asidev3share__header -->
                    <div class="asidev3share__form">
                      <div class="asidev3share__value asidev3share__value--oversize" data-copysrc='copy_id1'>https://leakme.com/?g.5tor8gs8</div><!-- /.asidev3share__value -->
                      <div class="asidev3share__button">
                        <button class='btn_blue' data-copyfrom='copy_id1'>
                          <span class='btnicon'>
                            <img src="img/Copy.svg" alt="">
                          </span>
                          <span class='btntext'>Copy</span>
                        </button>
                      </div><!-- /.asidev3share__button -->
                    </div><!-- /.asidev3share__form -->
                  </div><!-- /.asidev3share__wrapper -->
                </div><!-- /.asidev3share -->
              </div><!-- /.asidev3__footer -->
            </div><!-- /.asidev3 -->
          </aside>
        </div><!-- /.pageasidev3__aside -->
        <div class="pageasidev3__main">
          <div class="pagemainv3">
            <div class="pagemainv3__title">Statistics</div><!-- /.pagemainv3__title -->
            <div class="pagemainv3__content">
              <div class="emptyblock emptyblock_lg">
                <div class="emptyblock__wrapper flex column items-center">
                  <div class="emptyblock__image">
                    <div class="emptyblock__img">
                      <img src="img/empty_folder.svg" alt="">
                    </div>
                  </div>
                  <div class="emptyblock__text">You have no payments</div>
                </div>
              </div>
            </div>
            </div><!-- /.pagemainv3__ -->
          </div><!-- /.pagemainv3 -->
        </div><!-- /.pageasidev3__main -->
      </div><!-- /.pageasidev3 -->
    </div>
  </div>
</main>


 <%= _.template(require('../includes/footer.html').default)(data) %>
