<% var data = {
  title: "MAIN",
  author: ""
  }; %>
<%= _.template(require('../includes/head.html').default)(data) %>
<%= _.template(require('../includes/header.html').default)(data) %>
<style>
  ul {
    list-style: decimal;
  }
  li {
    margin-bottom: 15px;
    list-style: decimal;
  }
  a {
    color: #000 !important;
    display: inline-block;
  }
  ul {
    margin: 30px;
  } 
</style>
<main>
    <div class="container">
     <ul>
      <li><a href="howitworks.html" target="_blank" rel="noopener noreferrer" class=''>Var 1</a></li>
      <li><a href="howitworks_var2.html" target="_blank" rel="noopener noreferrer" class=''>Var 2</a></li>
      <li><a href="howitworks_var3.html" target="_blank" rel="noopener noreferrer" class=''>Var 3</a></li>
      <li><a href="howitworks_var4.html" target="_blank" rel="noopener noreferrer" class=''>Var 4</a></li>
      <li><a href="howitworks_var5.html" target="_blank" rel="noopener noreferrer" class=''>Var 5</a></li>
     
     



     </ul>
    </div><!-- /.container -->
</main>

<%= _.template(require('../includes/footer.html').default)(data) %>