@import "./partials/params.scss";
@import "./partials/mixins.scss";
@import "./partials/classes.scss";
@import "./modal.scss";
@import "./repost.scss";
@import "./repost_largest.scss";
@import "./download.scss";
@import "./main.scss";
@import "./wallets.scss";
@import "./responsive.scss";
@import "./v2.scss";
@import "./responsive_v2.scss";
@import "./v3.scss";
@import "./responsive_v3.scss";
@import "./responsive_large_v3.scss"; 
@import "./v4.scss";
@import "./responsive_v4.scss";


@import "./responsive_large.scss";

 @import "./howitworks.scss";
@import "./responsive_howitworks.scss";
@import "./responsive_large_how.scss";


@import "./landing.scss"; 


input, textarea, .pagesearch__input .searchinput input {
  &:focus::placeholder  { color:transparent !important; }
  &:focus::-webkit-input-placeholder { color:transparent !important; }
  &:focus:-moz-placeholder { color:transparent !important; } /* FF 4-18 */
  &:focus::-moz-placeholder { color:transparent !important; } /* FF 19+ */
  &:focus:-ms-input-placeholder { color:transparent !important; } /* IE 10+ */
}