.subscribelink_expires {
  .subscribelink__wrapper {
    background: none;

  }
  .subscribelink__price {
    color: #FFDE46;
    letter-spacing: -0.04em;
  }
}


  .pageasidev3 {
    display: flex;
    margin-top: get-vw-large(40px);
    margin-bottom: get-vw-large(100px);

    .btn_blue {
      border-radius: get-vw-large(8px);
      background: #0085ff;
      display: flex;
      align-items: center;
      padding: get-vw-large(11px) get-vw-large(13px);
      border: none;
    }
    .btnicon {
    }
    .btntext {
      padding-left: get-vw-large(4px);
      font-weight: 700;
    font-size: get-vw-large(14px);
    line-height: 100%;
    color: #fff;
    }
  }
  .pageasidev3__aside {
    margin-right: get-vw-large(62px);
  }
  .asidev3 {
    width: get-vw-large(340px);
    max-width: 100%;
  }
  .asidev3__header {
    padding-bottom: get-vw-large(20px);
    margin-bottom: get-vw-large(20px);
    border-bottom: get-vw-large(2px) solid rgba(33, 37, 49, 0.1);
    display: flex;
    align-items: center;
  }
  .asidev3__user {
    display: flex;
    align-items: center;
  }
  .asidev3user {
    display: flex;
    align-items: center;
    
  }
  .asidev3user_placeholder {
    width: 100%;
    height: 100%;
    background: #30CA4C;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: get-vw-large(18px);
    color: #fff;
  }
  .asidev3user__icon {
    border-radius: 50%;
    width: get-vw-large(58px);
    height: get-vw-large(58px);
    overflow: hidden;
  }
  .asidev3user__name {
    padding-left: get-vw-large(15px);
    font-weight: 700;
    font-size: get-vw-large(20px);
    color: #212531;
  }
  .asidev3__main {
    margin: get-vw-large(20px) 0;
  }
  .asidev3__footer {
  }
  .pageasidev3__main {
  }
  .asidev3__main {
  }
  .asidev3__menu {
  }
  .asidev3menu {
  }
  .asidev3menu__items {
  }
  .asidev3menu__item {
    margin-bottom: get-vw-large(12px);
  }

  .asidev3menu__icon {
    border: get-vw-large(1px) solid rgba(33, 37, 49, 0.15);
    border-radius: get-vw-large(12px);
    width: get-vw-large(42px);
    height: get-vw-large(42px);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background: #fff;
  }
  .asidev3menu__title {
    font-weight: 700;
    font-size: get-vw-large(16px);
    color: #212531;
    padding-left: get-vw-large(13px);
  }

  .asidev3menu__link {
    display: flex;
    align-items: center;
    padding: get-vw-large(7px) get-vw-large(10px);
    border-radius: get-vw-large(6px);

    &:hover, &.active {
      background: #30CA4C;
      .asidev3menu__title {
        color: #fff;
      }
    }
  }
  

.asidev3__footer {
  margin: get-vw-large(20px) 0;
}
.asidev3share {
}
.asidev3share__wrapper {
  border-radius: get-vw-large(12px);
  background: linear-gradient(90deg, rgba(0, 133, 255, 0.1) 0%, rgba(0, 80, 153, 0.1) 100%);

  padding: get-vw-large(17px) get-vw-large(27px);
}
.asidev3share__header {
  margin-bottom: get-vw-large(10px);
  display: flex;
  align-items: center;
  justify-content: center;
}
.asidev3share__icon {
}
.asidev3share__title {
  font-weight: 500;
font-size: get-vw-large(14px);
line-height: 100%;
color: #212531;
padding-left: get-vw-large(5px);
}
.asidev3share__form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: get-vw-large(8px);
background: #fff;
height: get-vw-large(44px);
}
.asidev3share__value {
  padding: get-vw-large(15px) get-vw-large(15px) get-vw-large(15px) get-vw-large(15px);
  font-weight: 700;
  font-size: get-vw-large(14px);
  line-height: 100%;
  height: 100%;
  color: #0085ff;
  white-space: nowrap;
  overflow: hidden;
  position: relative;
  
}
.asidev3share__value--oversize {
  &:after {
    content: '...';
    font-weight: 700;
    font-size: get-vw-large(14px);
    position: absolute;right: 0;
    padding: 0 15px 0 0;
    right: 0;
    height: 100%;
    display: flex;
    align-items: center;
    top: 0;
    background: #fff;
    color: #0085ff;
  }
}
.asidev3share__button {
  height: 100%;

  .btn_blue {
    height: 100%;
  }
}

.pagemainv3__title {
  font-weight: 700;
font-size: get-vw-large(26px);
color: #212531;
margin-bottom: get-vw-large(33px);
}

.pageasidev3__main {
  width: 100%;
  .emptyblock {
    min-height: get-vw-large(461px);
    display: flex;
    align-items: center;
    justify-content: center;
  }  
}