.siteheader_v5 {
  .siteheader__desc {
    font-weight: 500;
    font-size: 22px;
    line-height: 100%;
    color: #fff;
    background: none;
  }
  .navcontent {
    display: block;
  }
  .headerupgrade__button {
    background: linear-gradient(90deg, #5d38ff 0%, #422ca3 100%);
    border-radius: 12px;
    padding: 0 21px 0 12px;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 11px;
    span {
      display: flex;
      line-height: 1;
    }
  }
  .linkset__items {
    margin-right: 9px;
  }
  .linkset__items_border {
    border: 4px solid #303646;
    background: #212531;
  }
  .linkset__items_noborder {
    border: 4px solid #303646;
    background: #303646;
    padding: 0;
  }
  .linkset__item {
    height: 100%;

    a.linkset__link {
      height: 100% !important;
      align-items: center;
      display: flex;
      opacity: 1;
      padding-top: 3px;
      padding-bottom: 3px;
    }
  }
  .linkset__items_border,
  .linkset__items_noborder {
    padding-left: 4px;
    padding-right: 4px;
  }
  .linkset__items_border .linkset__item a.linkset__link {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    opacity: 0.3;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;

    &:hover {
      opacity: 1;
    }
  }
  .tabsnav_v2 .linkset__item a.linkset__upgrade {
    padding: 0;
    opacity: 1;
    display: flex;
    background: #29663e;

    span {
      display: flex;
      line-height: 1;
    }

    .upgrade_lock {
      padding: 0 8px 0 3px;
    }
  }
  .watchlistnew__link {
    height: 100%;
    display: flex;
    align-items: center;
    gap: 9px;
  }

  .watchlistnew {
    margin-left: 36px;

    img {
      max-width: 18px;
      min-width: 18px;
      display: block;
    }
  }

  .watchlistnew__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    color: #fff;
    margin-top: 3px;
  }
}

.headerbanner {
  margin: 28px 0;
}
.headerbanner__wrapper {
  display: flex;
  border-radius: 12px;
  align-items: center;
  justify-content: space-between;
  background-image: url(../img/headerbanner__wrapper.png);
  /*   background: #5D38FF;
background: linear-gradient(90deg,rgba(93, 56, 255, 1) 0%, rgba(34, 38, 52, 1) 100%); */
  background-position: center;
  background-size: cover;
  padding: 9px 20px 10px 20px;
}
.headerbanner__content {
  display: flex;
  align-items: center;
  gap: 20px;
}
.headerbanner__img img {
  min-width: 66px;
  max-width: 66px;
  display: block;
}
.headerbanner__title {
  font-weight: 700;
  font-size: 22px;
  line-height: 100%;
  color: #fff;
}
.headerbanner__close {
  cursor: pointer;
}

.footerfilter__item_wins {
  gap: 7px;
}

.tableblock_tab.tableblock__kols .tableblock__title {
  gap: 7px;
}
.tableblock__coltitle {
  position: relative;
  z-index: 99;
}

.sm_mode #header {
  z-index: 9;
}

.oversize .oversize__tooltip {
  z-index: 99999;
}
.sm_mode #footer {
  z-index: 999;
}
main {
  position: relative;
  z-index: 99;
}

.tableblock__coltitle {
  position: relative;
}

.tooltipv2 {
  position: relative;
}
.tableblock_tab.tableblock__kols .tableblock__title .oversize__tooltip {
  white-space: unset !important;
  word-break: unset !important;
}

.tableblock_tab.tableblock__kols .tableblock__title span {
  white-space: unset !important;
}
.tableblock_tab.tableblock__kols
  .tableblock__title
  .tableblock__coltitle_header {
  white-space: nowrap !important;
}
.tooltipv2 {
  .oversize {
    margin-left: 0;
  }
  .oversize__icon {
    width: 15px;
    height: 15px;
    min-width: 15px;
    max-width: 15px;
    border: 1px solid #303646;
    border-radius: 50%;
    display: flex;
    padding: 0 !important;
    margin: 0 !important;
    align-items: center;
    justify-content: center;
    transform: translateY(-8px);

    &:hover {
      border-color: #86f89b;
    }
  }
  .tooltipv2__tooltip {
    border-radius: 8px;
    top: 0;
    z-index: 9999;
    visibility: hidden;
    position: fixed;
    z-index: 99;
    transform: translateY(-100%) translateX(-50%);
    transition: none;
    right: unset;
    bottom: unset;
    max-width: 175px;
    min-width: 175px;
    margin-top: -12px;
    margin-left: -7px;
    background: #303646;
    white-space: unset !important;
    word-break: unset;
    padding: 13px 19px 12px 16px;
    font-size: 14px;
    span {
    }
  }

  .tooltipv2__tooltip::after {
    content: "";
    top: 100%;
    left: unset;
    position: absolute;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 9px solid #303646;
  }
}

.notableblock {
}
.notableblock__wrapper {
  background: #303646;
  border: 4px solid #303646;
  border-radius: 5555px;
  display: flex;
  width: fit-content;
}
.notableblock__count {
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  color: #212531 !important;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 555px;
  padding: 0px 9px;
  background: #86f89b;
  height: 34px;
  min-height: 34px;
  width: fit-content;
  min-width: 34px;
  word-break: initial;
}
.notableblock__items {
  display: flex;
  position: relative;

  /*  &:after {
    content: "";
    background: linear-gradient(90deg, rgba(37, 42, 57, 0) 0%, #252a39 100%);
    width: 94px;
    height: 42px;
    position: absolute;
    right: -6px;
    top: -5px;
    z-index: 99;
  } */
}
.notableblock__item {
  border: 2px solid #303646;
  min-width: 34px;
  max-width: 34px;
  height: 34px;
  border-radius: 50%;
  overflow: hidden;
  margin-left: -12px;
  position: relative;

  &:first-child {
    left: 0;
  }

  img {
    object-fit: cover;
    object-position: center;
    width: 34px;
    height: 34px;
  }

  /*  &:hover {
    z-index: 70 !important;
    cursor: pointer;
  } */
}

.notableblock__count {
  z-index: 30;
}

.notableblock__item {
  position: relative;
}
.gainvalue {
  font-weight: 700;
  font-size: 18px;
  line-height: 100% !important;
  text-align: center;
  width: 54px;
  color: #86f89b !important;
  text-shadow: 0 2px 9px rgba(134, 248, 155, 0.45) !important;
}

.tableblock__col_gain span {
  display: block;
}
.gainblock {
  display: flex;
  justify-content: center;
}
.tableblock__col_gain span.gainvalue__img {
  text-align: center;
  width: 52px;
  height: 16px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.tableblock__col_gain span.gainvalue__img {
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    width: 70px;
    max-width: unset;
    max-height: unset;
    /*     margin-top: -8px;
    margin-left: -15px; */
  }
}

.linkwrapper {
  display: flex;
  align-items: center;
  gap: 12px;
  .linkwrapper__text {
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    color: #838dab !important;
  }
}

.sitefooter_sm .sitefooter__info {
  gap: 30px;
}

.footerbanner {
  position: fixed;
  right: 20px;
  z-index: 999;
  bottom: 66px;
}
.footerbanner__wrapper {
  display: block;
  padding: 14px 14px 17px 19px;
  max-width: 315px;
  border-radius: 12px;
  background-image: url(../img/footerbanner__wrapper.png);
  background-size: cover;
  background-position: center;
}
.footerbanner__content {
  display: flex;
  gap: 17px;
  align-items: center;
}
.footerbanner__icon {
  min-width: 80px;
  max-width: 80px;
}
.footerbanner__text {
  font-weight: 700;
  font-size: 18px;
  line-height: 100%;
  color: #fff;
}
.footerbanner__close {
  position: absolute;
  top: 10px;
  right: 10px;
}

.sm_mode {
  .paginationblock {
    margin-left: 0;
    margin-right: 0;
    justify-content: center;
  }
}

.sm_mode {
  .tablepagination_locked {
    .paginationblock {
      display: flex;
      margin-left: 0;
      margin-right: 0;
      min-width: 44px;
      background: #252a39;
      border: 4px solid #303646;
      box-sizing: border-box;
    }
    .paginationblock + .paginationblock {
      margin-left: 8px;

      .pagination {
        padding-right: 8px;
      }
    }

    .pagination ul {
      margin: 0;
      align-items: center;
      display: flex;
    }
    .pagination ul li {
      margin: 0 8px;
    }
    .pagination ul li a {
      height: 36px;
      line-height: 1;
      align-items: center;
      display: flex;
    }
    .pagination ul li.pagilock {
      a {
        height: 22px;
        padding: 0;
        opacity: 1;
        display: flex;
        background: #29663e;
        border-radius: 555px;
        gap: 3px;

        span {
          display: flex;
          line-height: 1;
        }
      }
    }
    .paginationblock_open {
      background: #303646;
      border-color: transparent;
    }
  }
}
.sitefooter__social {
  display: flex;
  align-items: center;
  gap: 30px;
}

body {
  background: transparent !important;
}

.modal_v5 {
  .modal-dialog {
    background: #252a39;
    border: 2px solid #2f3443;
    border-radius: 12px;
    box-shadow: 0 0 80px 0 rgba(33, 37, 49, 0.15);
  }
  .modal-content {
    background: #252a39;
  }
  .modal-content {
    padding: 40px 24px 24px 50px;
  }
}

.modal_xl {
  .modal-dialog {
    width: 1055px;
  }
  .modal-title {
    text-align: left;
  }
}

.notablekols__asset {
  display: flex;
  align-items: center;
  gap: 21px;
}

.notablekols__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 100%;
  color: #fff;
}
.notablekols__icon {
  border-radius: 50%;
  overflow: hidden;
  min-width: 36px;
  max-width: 36px;

  img {
    width: 36px;
    height: 36px;
    object-fit: cover;
    object-position: center;
    display: block;
  }
}

.notablekols__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  color: #fff;
}
.tableblock__col_notable_Followers {
  .notablekols__text {
    text-align: center;
  }
  .tableblock__title {
    text-align: center;
    justify-content: center;
  }
}
.tableblock__col_notable_Date {
  .notablekols__date {
    text-align: right;
  }
  .tableblock__title {
    text-align: right;
    justify-content: flex-end;
  }
}

.notablekols__date {
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  color: #8a93a1 !important;
}

.notablekols {
  .tableblock_tab .tableblock__header .tableblock__col_notable_Date {
    width: 140px;
  }
  .tableblock__table {
    border-radius: 0;
  }
  .tableblock__wrapper {
    max-height: 527px;
    overflow: auto;
    padding-right: 22px;
    border-radius: 0 !important;
    filter: none;

    /* width */
    &::-webkit-scrollbar {
      width: 4px;
      height: 4px;
    }
    /* Track */
    &::-webkit-scrollbar-track {
      background: rgba(234, 236, 240, 0.2);
      border-radius: 10px;
    }
    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: #30ca4c;
      border-radius: 10px;
    }
    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
      background: #ccc;
    }
  }
  .tableblock__header {
    background-image: none;
    .tableblock__col {
      padding-left: 0;
      padding-right: 0;
      padding-bottom: 14px;
      padding-top: 0;
      text-align: left;
      height: unset;

      .tableblock__title {
        font-weight: 700;
        font-size: 14px;
        line-height: 100%;
        color: #fff;
        text-align: left;
      }
    }
  }

  .tableblock__body {
    .tableblock__col {
      border-top: 1px solid rgba(255, 255, 255, 0.1) !important;

      text-align: left;
      padding-left: 0 !important;
      padding-right: 0;
      padding-bottom: 14px;
      padding-top: 14px;
      min-height: 36px;
      height: unset;
    }
  }
  .tableblock_tab .tableblock__body > .tableblock__row:nth-child(2n) {
    background: #252a39 !important;
  }
}

.modal_sm {
  .modal-dialog {
    width: 633px;
    max-width: 100%;
  }
}

.radioselect__header {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}
.radioselect__label input:checked ~ .radioselect__wrapper .radioselect__input {
  border: 2px solid #30ca4c;

  &:after {
    content: "";
    width: 10px;
    height: 10px;
    display: block;
    background: #fff;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
  }
}
.radioselect__input {
  min-width: 20px;
  max-width: 20px;
  height: 20px;
  border: 1px solid #6f7997;
  margin-right: 17px;
  position: relative;
  border-radius: 50%;
}

.radioselect__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 100%;
  color: #fff;
  margin-right: 7px;
}
.radioselect__icon {
  min-width: 18px;
  max-width: 18px;
}

.radioselect__content {
  padding-left: 34px;
  position: relative;
  ul {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      font-weight: 400;
      font-size: 14px;
      line-height: 100%;
      color: #fff;
      margin-bottom: 12px;
      padding-left: 18px;
      position: relative;
      min-height: 14px;

      &:last-child {
        margin-bottom: 0 !important;
      }

      &:before {
        content: url('data:image/svg+xml,<svg width="10" height="9" viewBox="0 0 10 9" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M7.88733 0.434382C8.30594 -0.0739278 9.05735 -0.146646 9.56567 0.271963C10.074 0.690572 10.1467 1.44199 9.72809 1.9503L4.10096 8.78324L0.407184 5.55118C-0.0883827 5.11756 -0.1386 4.36431 0.295021 3.86874C0.728642 3.37317 1.4819 3.32296 1.97746 3.75658L3.82215 5.37068L7.88733 0.434382Z" fill="%2330CA4C" /></svg>');
        position: absolute;
        left: 0;
        top: 0;
      }
    }
  }
}

.radioselect__label {
  cursor: pointer;
  input {
    opacity: 0;
    width: 0;
    height: 0;
    visibility: hidden;
    position: absolute;
  }
}

.radioselect__info {
  position: absolute;
  right: 16px;
  top: 16px;
  z-index: 2;
}

.radioselect__price {
  font-weight: 700;
  font-size: 18px;
  line-height: 100%;
  text-align: right;
  color: #fff;
}
.radioselect__period {
  font-weight: 500;
  font-size: 12px;
  line-height: 100%;
  text-align: right;
  color: #fff;
}

.radioselect__wrapper {
  border: 2px solid #3b4255;
  border-radius: 12px;
  padding: 16px;
  position: relative;
}

.radioselect__label input:checked ~ .radioselect__wrapper {
  border: 2px solid #30ca4c;
}

.radioselect {
  margin-bottom: 40px;
}

.radioselect__item_yellow {
  .radioselect__content {
    ul {
      li {
        &:before {
          content: url('data:image/svg+xml,<svg width="10" height="9" viewBox="0 0 10 9" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M7.88733 0.434382C8.30594 -0.0739278 9.05735 -0.146646 9.56567 0.271963C10.074 0.690572 10.1467 1.44199 9.72809 1.9503L4.10096 8.78324L0.407184 5.55118C-0.0883827 5.11756 -0.1386 4.36431 0.295021 3.86874C0.728642 3.37317 1.4819 3.32296 1.97746 3.75658L3.82215 5.37068L7.88733 0.434382Z" fill="%23FFD059"/></svg>');
          position: absolute;
          left: 0;
          top: 0;
        }
      }
    }
  }
}
.linkset__items_noborder {
  .linkset__item:first-child {
    margin-left: 0;
  }
}
.linkset__items_border {
  .linkset__item:first-child {
    a {
      padding-left: 0 !important;
      /* 
    */
    }
  }
}

.radioselect__info {
}
.radioselect__discount {
  display: flex;
  align-items: center;
  margin-bottom: 4px;
}
.radioselect__oldprice {
  font-weight: 700;
  font-size: 12px;
  line-height: 100%;
  text-align: right;
  color: #7983a1;
  position: relative;
  opacity: 0.8;

  &:after {
    border-color: currentcolor #ffd059 #ffd059;
    border-top: 2px solid #ffd059;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 50%;
    -webkit-transform: rotate(-8deg);
    -ms-transform: rotate(-8deg);
    transform: rotate(-8deg);
  }
}
.radioselect__change {
  font-weight: 700;
  font-size: 12px;
  line-height: 100%;
  text-align: right;
  color: #303646 !important;
  margin-left: 8px;
  border-radius: 12px;
  background: #ffd059;
  padding: 2px 4px 1px 3px;
}
.radioselect__price {
  margin-bottom: 2px;
}
.radioselect__period {
}

.gray {
  color: #7983a1;
}

.radioselect__label input:disabled ~ .radioselect__wrapper {
  .radioselect__input {
    border: none;
    text-align: center;
  }
  .radioselect__content {
    ul {
      li {
        &:before {
          content: url('data:image/svg+xml,<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M3.99984 14.6666C3.63317 14.6666 3.31928 14.5361 3.05817 14.275C2.79706 14.0138 2.6665 13.7 2.6665 13.3333V6.66663C2.6665 6.29996 2.79706 5.98607 3.05817 5.72496C3.31928 5.46385 3.63317 5.33329 3.99984 5.33329H4.6665V3.99996C4.6665 3.07774 4.9915 2.29163 5.6415 1.64163C6.2915 0.991626 7.07762 0.666626 7.99984 0.666626C8.92206 0.666626 9.70817 0.991626 10.3582 1.64163C11.0082 2.29163 11.3332 3.07774 11.3332 3.99996V5.33329H11.9998C12.3665 5.33329 12.6804 5.46385 12.9415 5.72496C13.2026 5.98607 13.3332 6.29996 13.3332 6.66663V13.3333C13.3332 13.7 13.2026 14.0138 12.9415 14.275C12.6804 14.5361 12.3665 14.6666 11.9998 14.6666H3.99984ZM3.99984 13.3333H11.9998V6.66663H3.99984V13.3333ZM7.99984 11.3333C8.3665 11.3333 8.68039 11.2027 8.9415 10.9416C9.20262 10.6805 9.33317 10.3666 9.33317 9.99996C9.33317 9.63329 9.20262 9.3194 8.9415 9.05829C8.68039 8.79718 8.3665 8.66663 7.99984 8.66663C7.63317 8.66663 7.31928 8.79718 7.05817 9.05829C6.79706 9.3194 6.6665 9.63329 6.6665 9.99996C6.6665 10.3666 6.79706 10.6805 7.05817 10.9416C7.31928 11.2027 7.63317 11.3333 7.99984 11.3333ZM5.99984 5.33329H9.99984V3.99996C9.99984 3.4444 9.80539 2.97218 9.4165 2.58329C9.02762 2.1944 8.55539 1.99996 7.99984 1.99996C7.44428 1.99996 6.97206 2.1944 6.58317 2.58329C6.19428 2.97218 5.99984 3.4444 5.99984 3.99996V5.33329Z" fill="%237983A1"/></svg>');
          position: absolute;
          left: 0;
          top: 0;
        }
      }
    }
  }
}

.radioselect__infocurrent {
  color: #7983a1 !important;
}
.radioselect__item {
  margin-bottom: 13px;
}

.siteheader_v5 {
  .accountblock_unauthored {
    margin-left: 40px;
  }
}
.btn_border.flex {
  gap: 13px;
  width: 100%;
}
.darkmode {
  .btn_border {
    background: #252a39;
    border: 1px solid #4f5669;

    &:hover {
      background: rgba(48, 202, 76, 0.15);
      border-color: #30ca4c;
    }
  }
  .modal_xs {
    .modal-dialog {
      width: 534px;
      max-width: calc(100% - 20px);
    }
  }
  .modal_v5 {
    .buttonsrow__item + .buttonsrow__item {
      margin-top: 15px;
    }
    .buttonsrow {
      margin-top: 28px;
      margin-bottom: 28px;
    }
    .modal-submit .check {
      margin: 17px 0;

      a {
        text-decoration: underline;
      }

      label {
        padding-left: 28px;
        font-weight: 400;
        font-size: 13px;
        color: #fff;
        line-height: 1.2;
      }

      label:before {
        background: transparent;
        border: 2px solid #4f5669;
        border-radius: 3px;
        box-sizing: border-box;
      }
      input[type="checkbox"]:checked + label:before {
        background-color: #30ca4c;
        border-color: #30ca4c;
        background-image: url(../img/selected_icon.svg);
      }
    }
    .modal__back {
      margin-bottom: 0;
    }
    input {
      background-color: #3b4255;
      border-bottom: 2px solid #4f5669;
      padding: 22px 29px;

      &::-webkit-input-placeholder {
        font-size: 16px;
      }
      &::-moz-placeholder {
        font-size: 16px;
      }
      &:-ms-input-placeholder {
        font-size: 16px;
      }
      &:-moz-placeholder {
        font-size: 16px;
      }
    }
    .inputerror {
      color: #f8444f !important;
    }
    input.input-error,
    textarea.input-error {
      border-bottom: 2px solid #f8444f !important;
    }
    .formblock__title {
      color: #7983a1 !important;
    }
    .red {
      color: #f8444f !important;
    }
  }
}
.watchlistnew.watchlistnew_mobile {
  display: none;
}

.darkmode {
  .modal_white {
    .passwordforgot a {
      opacity: 0.5;
    }
    .btn_main {
      span {
        color: #fff !important;
      }
    }
    .modal-content {
      padding: 60px 60px 36px 60px;
    }
    .btn_border {
      background: #fff;
      border-color: #d9d9d9;
    }
    * {
      color: #212531 !important;
    }
    .modal-dialog,
    .modal-content {
      background: #fff;
    }

    input {
      border-bottom: 2px solid #d9dde3 !important;
      background: #f3f5f8 !important;
    }
  }
}

.notableblock__empty {
  .notableblock__count {
    display: inline-flex;
    align-items: center;
    background: #4e5464;
    color: #fff !important;
    border: 3px solid #303646;
  }
}

.tableblock_tab.tableblock__kols .tableblock__title {
  svg {
    min-width: 7px;
  }
}

.sm_mode.hasupgrade .tableblock__header {
  background-position: top -154px left !important;
}

.sm_mode.hasupgrade .tableblock__header {
  background-position: top -166px left !important;
}
.sm_mode.hasbanner .tableblock__header {
  background-position: top -289px left !important;
}
.sm_mode {
  .tableblock__wrapper {
    filter: none;
  }
  .tableblock__header {
    background-image: none !important;
    background-color: transparent !important;
  }
  .tableblock__kols .tableblock__table {
    background: transparent;
  }
}

.siteheader_v5 .linkset__items_noborder {
  padding-left: 0 !important;
}

.sitefooter_sm {
  position: static;
}

.tableblock__kols .tableblock__table {
  height: unset !important;
}

.tableblock__kols .tableblock__table {
  overflow: unset !important;
}

.tableblock__title.active {
  svg {
    transform: none !important;
  }
  > svg {
    transform: rotate(180deg) !important;
  }
}

.sm_mode .tablepagination_locked .pagination ul li.pagilock {
  a.linkset__link {
    min-width: 46px;
  }
}

/*     .haspremium {
       .siteheader_v5 .tabsnav_v2 .linkset__items {
        max-width: 245px;
    }
    } */

.testbanner .headerbanner__wrapper {
  background: #5d38ff;
  background: linear-gradient(
    90deg,
    rgba(93, 56, 255, 0.75) 0%,
    rgba(34, 38, 52, 0.5) 100%
  );
}

.sm_mode  .tableblock__header.sticky-applied {
  background-color: #252a39 !important;
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.7);
}

.modal_v5, .modal_white  {
  a.btn.btn_border.flex.items-center.content-center {
    margin: 0;
}
 .modal-submit .check a {
  display: inline;
  margin: 0;
}
}


.darkmode .modal_white .btn_main  {
  color: #fff !important;
}

